html{
  overflow-x:hidden;
  width:100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
div{
  margin:0;
  padding:0;
}
h2, h3, h4, h5, h6{
  margin-top:1rem;
}
h1, h2, h3, h4, h5, h6, li, a{
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,ul,li,p,a{
  width:100%;
}
h1{
}
h2{
}
h3{
  color:#365dab;
}
h4{}
h5{}
h6{}
p{
  font-size:20px;
}
section{
  margin-top:2em;
  margin-bottom:2em;
}
section h2{
  text-align:center;
  color:#C24127;
  margin:.5em 0;
}
#content-section h1{
  color:#ffffff;
  text-align:center;
  font-size:40px;
  background:#365dab;
  padding:1rem;
  width:100%;
}
#content-section p{
  padding:1em;
}

/*----------COLUMN SYSTEM START----------*/
.row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  align-content:center;
  flex-wrap:wrap;
}
.primary{
  background:#C24127;
}
.space-between{
  justify-content:space-between;
}
.col-1-2{
  width:100%;
}
.col-1-3{
   width:100%;
 }
.px-2{
  padding-left:2rem;
  padding-right:2rem;
}
.py-2{
  padding-top:2rem;
  padding-bottom:2rem;
}
.btn{
  background:#C24127;
  padding:.5rem 1rem;
  text-decoration:none;
  font-weight:500;
  border-radius:10px;
  margin:1rem;
  color:white;
  display: block;
  max-width: 250px;
  text-align: center;
}
/*----------COLUMN SYSTEM END----------*/
@media screen and (min-width:768px){
  .col-1-2{
    width:50%;
  }
  .col-1-3{
    width:30.2%;
  }
  .row, .sboxes .container,.content-wrapper{
    max-width: 1140px;
    margin: auto;
  }
  .content-wrapper .subheader{
    margin-left: calc(-100vw / 2 + 1140px / 2);
    margin-right: calc(-100vw / 2 + 1140px / 2);
  }
  .flex-menu{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    margin-right:0;
    text-align:center;
  }
  .top-right, .bottom-right{
  }
  .menu-item{
    text-decoration:none;
    text-transform:capitalize;
  }
}
